html {
    font-family: 'Outfit', sans-serif;
    font-size: 62.8%;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}


body {
    background-color: hsl(212, 45%, 89%);
    font-size: 16px;
}


.container {
    max-width: 120rem;
    width: 95%;
    margin-inline: auto;
    height: 98vh;
}



img {
    max-width: 100%;
    display: block;
}

.d-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.qr-container {
    background-color: hsl(0, 0%, 100%);
    border-radius: 2rem;
    padding: 2rem 2rem 4rem;
    max-width: 35rem;
    margin-inline: auto;
}

.img-qr img {
    border-radius: 2rem;
}

.qr-container p, h1 {
    text-align: center;
}


.title {
    color: hsl(218, 44%, 22%);
    font-size: 2.5rem;
    font-weight: 700;
}

.info {
    color: hsl(220, 15%, 55%);
    font-size: 1.5rem;
}